.aside-component {
  width: 52%;
  height: 100%;
  background: #845afd;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10% 7%;

  img {
    width: 65%;
  }

  strong {
    font: 700 3.6rem 'Poppins', sans-serif;
    line-height: 4.2rem;
    margin-top: 1.4%;
  }

  p {
    font-size: 2.2rem;
    line-height: 3.2rem;
    margin-top: 1.4%;
    color: #f8f8f8;
  }
}
