* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 19px;
}

body {
  background: #f8f8f8;
  color: #29292e;
}

body,
input,
button,
textarea {
  font: 400 1.6rem 'Roboto', sans-serif;
}

.user-info {
  display: flex;
  align-items: center;

  img {
    width: 32px;
    height: 32px;
    border-radius: 9999px;
  }

  span {
    margin-left: 8px;
    color: #29292e;
    font-size: 14px;
  }
}

@media (max-width: 1500px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 7.5px;
  }

  body,
  input,
  button,
  textarea {
    font: 400 2rem 'Roboto', sans-serif;
  }
}
