* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8f8f8;
  color: #29292e;
}

body,
input,
button,
textarea {
  font: 400 16px 'Roboto', sans-serif;
}

.user-info {
  display: flex;
  align-items: center;

  img {
    width: 32px;
    height: 32px;
    border-radius: 9999px;
  }

  span {
    margin-left: 8px;
    color: #29292e;
    font-size: 14px;
  }
}
